* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: url('../imagenes/fondogeneral.jpg');
}

/* Barra fija de redes */

.container-bar {
    width: 100%;
    max-width: 55px;
    position: fixed;
    left: 0;
    top: 25%;
}

.container-bar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;
}

.container-bar a:hover {
    background: #1c1c1c;
}

.container-bar .icon-facebook {
    background: #1877f2;
    border-radius: 0px 5px 0px 0px;
}

.container-bar .icon-linkedin {
    background: #dd5143;
}

.container-bar .icon-github {
    background: #6e5494;
    border-radius: 0px 0px 5px 0px;
}

.container-bar #title {
    position: fixed;
    background: #1c1c1c;
    padding: 6px;
    border: 3px;
    font-size: 1.25rem;
    margin-top: -4px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.container-bar a:hover #title {
    opacity: 1;
    visibility: visible;
    margin-left: 30px;
}

.container-bar #title::after {
    position: absolute;
    content: '';
    border-left: 7px solid transparent;
    border-right: 6px solid #1c1c1c;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    right: 100%;
    top: 8px;
}

#btn-social {
    display: none;
}

.icon-play {
    cursor:pointer;
    transition: all 0.4s;
    font-size: 1rem;
    margin-bottom: 5px;
    display: inline-block;
    transform: rotate(180deg);
    color: #49b0e6;
}

#btn-social:checked ~.icon-play {
    transform: rotate(0deg);
}

.icon-social {
    transition: all 0.4s;
    transform: translateX(0%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .3);
}

#btn-social:checked ~.icon-social {
    transform: translateX(-100%);
}


/* Estilos de Div Contenedor de página */

.contenedor {    
    width: 90%; 
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Estilos de Encabezado */

.contenedor .encabezado {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    height: 30%;
}

.contenedor .encabezado .titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    color: #fff;
    width: 100%;
    height: 70%;
    padding-bottom: 10px;
}

.encabezado .titulo h1, h2{
    font-size: 2.5rem;
}

.contenedor .encabezado .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
    background-color: #333;
    padding: 5px;
}

.contenedor .encabezado .menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
}

.contenedor .encabezado .menu a:hover{
    background-color: rgba(76, 118, 189, .2);
    border-radius: 5px;
}



/* Estilos de cuerpo de página */

.cuerpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 60%;
}

.cuerpo .navbar {
    width: 100%;
}

.cuerpo .navbar .container-fluid .navbar-brand {
    padding: 10px;
    color: #000;
    font-weight: bold;
}


.navbar .navbar-collapse .navbar-nav {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar .nav-link{
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
    border-radius: 5px;
}

.navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    background-color: #97DACD;
    border-radius: 5px;
}


/* Estilos de contenido de página */

.cuerpo .contenido {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 60%;
    padding: 20px;
    background-color: #fff;
}

.cuerpo .contenido .item-contenido {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    border: black dashed 4px;
    margin: 20px;
    padding: 15px;
}

.cuerpo .contenido .item-contenido article p {
    font-size: 1.67rem;
    padding: 5px;
    margin: 10px;
}

.cuerpo .contenido .item-contenido article blockquote {
    text-align: justify;
    font-size: 1.67rem;
}

.cuerpo .contenido .item-contenido article blockquote cite {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-style: italic;
}

.cuerpo .contenido .item-contenido h2,h3{
    text-align: center;
    margin: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.cuerpo .contenido .item-contenido .redes {
    border: white solid 3px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuerpo .contenido .item-contenido .redes .red {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cuerpo .contenido .item-contenido .redes .red p {
    text-align: center;
    color: #CC8726;
    font-weight: bold;

    font-size: 25px;
    margin: 10px auto;
}

.cuerpo .contenido .item-contenido .redes .red .icono-red {
    font-size: 5rem;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.cuerpo .contenido .item-contenido .redes .red .icono-red a{
    text-decoration: none;
    color: #fff;
}

.cuerpo .contenido .item-contenido .redes .red .facebook {
    background-color: #1877f2;
}

.cuerpo .contenido .item-contenido .redes .red .linkedin {
    background-color: #dd5143;
}

.cuerpo .contenido .item-contenido .redes .red .github {
    background-color: #6e5494;
}

.carousel-caption h5 {
    font-size: 2.08rem;
    font-weight: bold;
    color: #191d4b;
}

.carousel-caption p {
    font-size: 1.25rem;
    font-weight: bold;
    color: #191d4b;
}

/* Estilos de Barra lateral */

.cuerpo .lateral {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 40%;
    background-color: #191d4b;
    padding: 20px;
}

.cuerpo .lateral .titulo-lateral{
    color: #fff;   
    border: #fff outset 2px;
    background: #113F77;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


.cuerpo .lateral .item-lateral {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 95%;
    text-align: center;
    margin-bottom: 10px;
}

.cuerpo .lateral .item-lateral p {
    font-size: 1.25rem;
    color: #fff;
    font-weight: bold;
}

.cuerpo .lateral .item-lateral p a {
    text-decoration: none;
    color: salmon;
    font-weight: bold;
}

.cuerpo .lateral .item-lateral p a:hover {
    color: greenyellow;
}

.cuerpo .lateral .item-lateral label {
    color: #fff;
}

.cuerpo .lateral .item-lateral .botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cuerpo .lateral .item-lateral img{
    width: 100%;
    margin: auto;
    padding: 5px;
    border: orange solid 2px;
}

.cuerpo .lateral .item-lateral img:hover{
    opacity: .8;
}

.cuerpo .lateral .item-lateral .subtitulo-lateral {
    color: #fff;   
    font-size: 1.67rem;
    width: 100%;
    text-align: center;
    margin: 10px;
}




/* Estilos de Footer de toda la página */

.contenedor .pie {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    padding: 20px;
    background-color: #333;

    height: 10%;
}

.pie .unc {
    order:2;
}

.pie .carrera{
    order: 1;
}

.pie .copyright {
    display: flex;
    text-align: center;
    justify-content: flex-end;

    order: 3;

    width: 100%;
    
}

.pie p {
    font-weight: 400;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    padding-bottom: 12px;
}



/* Diseño adaptable */
@media screen and (max-width:800px) {

    html {
        font-size: 10px;
    }

    .contenedor {
        width: 100%;
    }

    .contenedor .encabezado .titulo h1, h2 {
        display: block;
        margin: 10px;
        text-align: center;
        width: 100%;
    }

    .contenedor .encabezado .titulo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        align-items: center;
    }


    .navbar .navbar-collapse .mb-lg-0 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        align-items: center;
    }

    .navbar .navbar-collapse .mb-lg-0 .nav-item {
        margin:0;
        width: 100%;
        text-align: center;
    }

    .contenedor .cuerpo .contenido {
        width: 100%;
    }

    .contenedor .encabezado .menu {
        padding: 0;
    }

    .contenedor .encabezado .menu a{
        margin: 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    .contenedor .cuerpo .lateral {
        width: 100%;
    }

    .contenedor .pie p{
        width: 100%;
    }
    
    .pie .unc {
        order: 1;
        text-align: center;
    }

    .pie .carrera {
        order:2;
        text-align: center;
    }

    .pie .curso {
        order:3;
    }

    .pie .copyright {
        order:4;
        text-align: center;
        display: flex;
        justify-content: center;
    }

}