:root{
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 400;
    background: url('../imagenes/fondogeneral.jpg');
}


.contenedor {
    margin:auto;  
    width: 90%; 
    max-width: 1000px;
    /* background: #000; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.encabezado {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.encabezado .titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* background: orange; */
    height: 70%;
}

.encabezado .titulo h1{
    font-size: 30px;
}

.encabezado .titulo h2 {
    font-size: 30px;
}

.encabezado .menu {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    /* background-color: #191d4b; */
}

.encabezado .menu a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: auto 20px;
    padding: 10px;
}

.encabezado .menu a:hover{
    /* background-color: #4c76bd; */
    background-color: rgba(76, 118, 189, .2);
}

.contenido {
    width: 100%;
    /* background: yellow;  */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenido .principal {
    width: 60%;
    padding: 20px;
    background-color: #f6f6f6;
}

.contenido .principal h3 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.contenido .principal article {
    border: black solid 3px;
}

.contenido aside {
    width: 40%;
    background-color: #191d4b;
    /* background: #1b1b1b; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside p {
    font-size: 30px;
    width: 100%;
    color: #fff;
    text-align: center;
}

aside .imglateral {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

aside .imglateral img {
    width: 90%;
    margin: 10px;
}

aside .imglateral img:hover {
    opacity: .8;
}

.pie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    width: 100%;
}

.pie p {
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    padding:20px;
    padding-bottom: 12px;
}

.pie .unc {
    order:2;
}

.pie .carrera{
    order: 1;
}

.pie .copyright {
    display: flex;
    text-align: center;
    order: 3;
    width: 100%;
    justify-content: flex-end;
}