:root{
    --gris: #8A95A5;
    --verde:#B9C6AE;
    --celeste: #3E83D1;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background: #a4a4a4;
}


.contenedor {
    margin:auto;  
    width: 90%; 
    max-width: 1200px;
    background:var(--verde);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}


.encabezado {
    width: 100%;
    height: 300px;
    background:url('../imagenes/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.encabezado .menu {
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.encabezado .menu a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    padding: 20px;
    background-color: red;
}

.principal {
    width: 70%;
    padding: 30px;
}

aside {
    width: 30%;
    background: red;
    padding: 20px;
    display: flex;
}

.pie {
    padding: 20px;
    background-color: green;
    width: 100%;
}