* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: url('../imagenes/fondogeneral.jpg');
}

.rojo {
    background: #b74919;
    border: #9c7b6b solid 2px;
}

.azul {
    background: #1d6fa9;
}

/* Estilos de Div Contenedor de página */

.contenedor {    
    width: 90%; 
    max-width: 1000px;
    margin:auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Estilos de Encabezado */

.contenedor .encabezado {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    height: 30%;
}

.contenedor .encabezado .titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    color: #fff;
    width: 100%;
    height: 70%;
    padding-bottom: 10px;
}

.encabezado .titulo h1{
    font-size: 2.5rem;
}

.contenedor .encabezado .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
    background-color: #333;
    padding: 5px;
}

.contenedor .encabezado .menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
}

.contenedor .encabezado .menu a:hover{
    background-color: rgba(76, 118, 189, .2);
    border-radius: 5px;
}

.contenedor .contenido {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    background: #c8f5e8;
}

.contenedor .contenido .titulo-contenido {
    text-align: center;
    padding: 10px;
}

.contenedor .item-contenido {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
}

.contenedor .item-contenido .botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 50%;

    align-items: flex-start;
}

.contenedor .item-contenido .botones button {
    display: inline-block;
    margin: 20px;
    margin-top: 10px;
    padding:5px;
    border-radius: 10px;
    width: 30%;

    color: #fff;
    font-size: 16px;
}

.contenedor .item-contenido .botones .naranja{
    background: #f19d19;
    border: #fff solid 2px;
}

.contenedor .contenido .item-contenido .cuadros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 40%;
    margin: 10px;
}

.contenedor .contenido .item-contenido .item {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor .contenido .item-contenido .cuadros .item .indicador {
    display: block;
    text-align: left;

    border: green solid 2px;

    width: 50%;
    height: 30px;
    padding-left: 10px;

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.contenedor .contenido .item-contenido .cuadros .item .azul {
    border:#186195 solid 2px;
}

.contenedor .contenido .item-contenido .cuadros .item .rojo {
    border: #a74216 solid 2px;
}

.contenedor .contenido .item-contenido .cuadros .item input {
    width: 50%;
    border: #f8ede8 solid 2px;
}




